[submodule "OptionsFramework"]
	path = OptionsFramework
url=https://github.com/MacSergey/OptionsFramework.git
	branch = customization/ImprovedPublicTransport
[submodule "RedirectionFramework"]
	path = RedirectionFramework
url=https://github.com/MacSergey/RedirectionFramework.git
	branch = customization/ImprovedPublicTransport	